*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(209, 209, 211);
}

.book-container{
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100%;
  height: 80%;
}


header{
  background-color: darkgrey;
  padding: 10px 0;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}


.Layout{
  width: 80vw;
  margin: 0 auto;
}



.book {
  perspective: 1000px;        
  cursor: pointer;
  height: 550px;    
  width: 400px;          
}

.book-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s; 
  transform-style: preserve-3d;
}


.book.flipped .book-inner {
  transform: rotateY(180deg);
}

.book-front,
.book-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}


.book-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.book-back h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #4a90e2;
}

.book-back p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #333;
}


